<h1>New brew</h1>

<% form_for(@brew) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "brew_form", :locals => {:f => f} %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', brews_path %>
