       <div style="position:relative">
	 <div style="position:absolute;left:50px;top:5px">
	   <a href="/recipes/darthheifer"><img src="images/darthheifer_label.png"></a><br/>
	 </div>
<!--
	 <div style="position:absolute;left:500px;top:5px">
	   <a href="/recipes/xptheo"><img src="images/xptheo_webimage.png"></a>
	 </div>
	 <div style="position:absolute;left:240px;top:62px">
	   <a href="/recipes/milquetoast"><img src="images/milquetoast_logo.png" height="120" /></a>
	 </div>
	 <div style="position:absolute;left:30px;top:166px">
	   <a href="/recipes/sourgrapes"><img src="images/sourgrapes_logo.png"></a>
	 </div>
	 <div style="position:absolute;left:320px;top:172px">
	   <a href="/recipes/chetsblood"><img src="images/chet_logo.png"></a>
	 </div>
    -->   
