       <b>How to Brew: Detailed procedures</b><br/>
       <br />
       <p>
	 The recipes give you enough information if you already know how to brew.
       </p>
       <p>
	 When I finish this page, you will have more detailed instructions on how to do that.
       </p>
