     <div id="nav">
         <span class="navheader">Recently brewed</span><br />
	 <span class="navbullet"><a href="/recipes/goldenboy">Golden Boy summer special</a></span><br />
	 <span class="navbullet"><a href="/recipes/bridgetownred">Bridgetown Red</a></span><br />
	 <span class="navbullet"><a href="/recipes/ichbineinberlinerweiss">Ich Bin Ein BerlinerWeiss</a></span><br />

         <span class="navheader">In Progress</span><br />
	 <span class="navbullet"><a href="/recipes/dartholomew">Dartholomew</a></span><br />
	 <span class="navbullet"><a href="/recipes/ouisquebaughmel">OuisquebaughMel</a></span><br />
	 <span class="navbullet"><a href="/recipes/sourgrapes">Sour Grapes Stout</a></span><br />
	 <span class="navbullet"><a href="/recipes/doubleplumred">DoublePlum Sour Honey Red</a></span><br />
         <span class="navheader">Upcoming</span><br />
	 <span class="navbullet"><a href="/recipes/bullethead">Bullet Head, Barrel Chest</a></span><br />
	 <span class="navbullet"><a href="/recipes/twistedester">Twisted Ester</a></span><br />
	 <span class="navbullet"><!-- a href="/recipes/bamboozled" -->Bamboozled<!-- /a --></span><br />
	 <span class="navbullet"><!-- a href="/recipes/xptheo" -->Fractal Broccoli<!-- /a --></span><br />
	 <span class="navbullet"><!-- a href="/recipes/xptheo" -->Chocolate Rye Mead<!-- /a --></span><br />
         <span class="navheader">Strange Brews</span><br />
	 <span class="navbullet"><a href="/recipes/redheadedstepchai">Red Headed Step Chai</a></span><br />
	 <span class="navbullet"><a href="/recipes/embarrassmalt">EmbarrassMalt</a></span><br />
	 <span class="navbullet"><a href="/recipes/zooktaboo">Zook Taboo</a></span><br />
	 <span class="navbullet"><a href="/recipes/dandelion">Dandelion Wine Beer</a></span><br />
	 <span class="navbullet"><a href="/recipes/beersalad">Beer Salad Surgery</a></span><br />
         <span class="navheader">Archives</span><br />
	 <span class="navbullet"><a href="/recipes/xptheo">XP Theo</a></span><br />
	 <span class="navbullet"><a href="/recipes/xpstumpy">XP Stumpy</a></span><br />
	 <span class="navbullet"><a href="/recipes/darthheifer">Darth Heifer</a></span><br />
	 <span class="navbullet"><a href="/recipes/milquetoast">Milquetoast</a></span><br />
	 <span class="navbullet"><a href="/recipes/chetsblood">Chet's Blood Orange Red</a></span><br />
	 <span class="navbullet"><a href="/recipes/kiwit">Kiwit (plus Matcha)</a></span><br />
	 <span class="navbullet"><a href="/recipes/darthmaltcider">Darth Malt (cider)</a></span><br />
	 <span class="navbullet"><a href="/recipes/caramelapplecider">Caramel Apple (cider)</a></span><br />
	 <span class="navbullet"><a href="/recipes/bullethead">Bullet Head Rye Porter</a></span><br />
	 <span class="navbullet"><!-- a href="/recipes/xpmonkey" -->XP Monkey<!--/a --></span><br />
	 <span class="navbullet"><!-- a href="/recipes/4rsms" -->4 Rivers Sour Mash Saison<!--/a --></span><br />
	 <span class="navbullet"><!-- a href="/recipes/mfb" -->MFB<!--/a --></span><br />
	 <span class="navbullet"><!-- a href="/recipes/bearberry" -->Bear Berry Stout<!--/a --></span><br />
	 <span class="navbullet"><a href="/recipes/mpp">Manhattan Project Porter</a></span><br />
	 <span class="navbullet"><a href="/recipes/ppb">Pumpernickel Punkin</a></span><br />
	 <span class="navbullet"><!-- a href="/recipes/mxchoc" -->Mexican Chocolate Choc Stout<!--/a --></span><br />
     </div>
